body{
    background-color: #87d6f8;
    color: #383838;
}

.form-wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.placeholder-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.placeholder-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.placeholder-group:last-child{
    grid-column: 1 / 3;
    text-align: center;
}

.placeholder-group label{
    display: block;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.placeholder-group input[type=text]{
    text-align: center;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
}

.placeholder-group input[type=text]:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button[type=submit]{
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type=submit]:hover{
    background-color: #3e8e41;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 758px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: black;
    background: white;
}