<!DOCTYPE html>
<html >

<head>
  <link rel="icon" href="/static/images/icon-house.png">
  <title>The Boston House Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <a href="#" >Logo</a>
    </div>
    <ul class="menu">
      <li><a href="#about-project">About This Project</a></li>
      <li><a href="#predictions">Boston House Price Prediction</a></li>
      <li><a href="#about-me">About Me</a></li>
    </ul>
  </nav>
  <div class="project" id="about-project">
    <img src="/static/images/house.jpg" alt="picture">
      <div class="text">
        <h2>About This Project</h2>
        <p>The Boston House Prediction project is a classic machine learning project that aims to predict the house price (median value of owner owner-occupied homes) in Boston. The data used in this project called the Boston Housing Dataset, which contains 13 different features that are believed to be relevant in determining the price of a house. The data set can be access in sklearn library <code>from sklearn.datasets import load_boston</code>.</p>
        <p>The goal of the project is to use machine learning algorithms to build a model that can accurately predict the price of a house given its features. This can be used by real estate agent, homeowners, and potential buyers to estimate the value of property.</p>
        <p>To accomplish this, the project typically involves several steps, including data cleaning, data exploratory, features transformation, and model training adn evaluation using some algorithms. Data cleaning involves dealing with outliers, data exploration involves visualizing the data and identifiying patterns and relationship between the features and the target variable, feature transformation involves scaling using standarscaler (standarization) to make data more consistant and finally, the project involves and evaluating a machine learning model on the data.</p>
        <p>In this project there are some algorithms that already applied such as LinearRegression, Lasso, Ridge, ElasticNet, RandomForestRegressor, DecisionTreeRegressor, and SVR. For deploy the machine learning in this web, I used model with RandomForestRegressor because this model has good perfomance compare to others algorithm. From the metrics evaluation we know that the RandomForestRegressor has more good performance than other algorithm. The values of MAE and MSE are small and R2 Score big more that other algorithm.</p>
      </div>
  </div>
  <div class="form-wrapper" id="predictions">
    <!-- Main Input For Receiving Query to our ML -->
    <h2 style="text-align: center;"> Boston House Price Prediction</h2>
    <form action="{{ url_for('predict')}}"method="post">
      <div class="placeholder-wrapper">
        <div class="placeholder-group">
          <label for="CRIM">CRIM</label>
          <input type="text" id ="CRIM" name="CRIM" value="{{ request.form['CRIM'] }}" required title="per capita crime rate by town">
        </div>
        <div class="placeholder-group">
          <label for="ZN">ZN</label>
          <input type="text" id ="ZN" name="ZN" value="{{ request.form['ZN']}}" required title="proportion of residential land zoned for lots over 25,000 sq.ft">
        </div>
        <div class="placeholder-group">
          <label for="INDUS">INDUS</label>
          <input type="text" id ="INDUS" name="INDUS"  value="{{ request.form['INDUS']}}" required title="proportion of non-retail business acres per town">
        </div>
        <div class="placeholder-group">
          <label for="CHAS">CHAS</label>
          <input type="text" id ="CHAS" name="CHAS"  value="{{ request.form['CHAS']}}" required title="Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)">
        </div>
        <div class="placeholder-group">
          <label for="NOX">NOX</label>
          <input type="text" id ="NOX" name="NOX"  value="{{ request.form['NOX']}}" required title="nitric oxides concentration (parts per 10 million)">
        </div>
        <div class="placeholder-group">
          <label for="RM">RM</label>
          <input type="text" id ="RM" name="RM"  value="{{ request.form['RM']}}" required title="average number of rooms per dwelling">
        </div>
        <div class="placeholder-group">
          <label for="Age">Age</label>
          <input type="text" id ="Age" name="Age"  value="{{ request.form['Age']}}" required title="proportion of owner-occupied units built prior to 1940">
        </div>
        <div class="placeholder-group">
          <label for="DIS">DIS</label>
          <input type="text" id ="DIS" name="DIS"  value="{{ request.form['DIS']}}" required title="weighted distances to five Boston employment centres">
        </div>
        <div class="placeholder-group">
          <label for="RAD">RAD</label>
          <input type="text" id ="RAD" name="RAD"  value="{{ request.form['RAD']}}" required title="index of accessibility to radial highways">
        </div>
        <div class="placeholder-group">
          <label for="TAX">TAX</label>
          <input type="text" id ="TAX" name="TAX"  value="{{ request.form['TAX']}}" required title="full-value property-tax rate per $10,000">
        </div>
        <div class="placeholder-group">
          <label for="PTRATIO">PTRATIO</label>
          <input type="text" id ="PTRATIO" name="PTRATIO"  value="{{ request.form['PTRATIO']}}" required title="pupil-teacher ratio by town">
        </div>
        <div class="placeholder-group">
          <label for="B">B</label>
          <input type="text" id ="B" name="B"  value="{{ request.form['B']}}" required title="1000(Bk - 0.63)^2 where Bk is the proportion of black people by town">
        </div>
        <div class="placeholder-group">
          <label for="LSTAT">LSTAT</label>
          <input type="text" id ="LSTAT" name="LSTAT"  value="{{ request.form['LSTAT']}}" required title="% lower status of the population">
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </div>
    </form>
    <div id="result" name="result">
    {%if submitted %}
      {{prediction_text}}
    {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
  </div>
  <div class="about" id="about-me">
    <img src="/static/images/Photograph.jpg" alt="picture">
    <div class="text2">
      <h2>About Me</h2>
      <p>Joni is a fresh graduate student from Bandung Institute of Technology. He is interested in data science, data 
        analytics, and ocean issues. To improve his skills in the field of data, he took several courses and just 
        completed a data science bootcamp with a good grade. Some of the tools he has used in working on projects 
        are Python, PostgreSQL, MySQL, Tableau, Power BI, Google Data Studio, and Microsoft Excel.</p>
    </div>
  </div>

  <footer>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/jonisyofian/" target="_blank"><i class="fab fa-linkedin fa-lg"></i> linkedIn: jonisyofian</a>
      <a href="mailto:jonisyofian14@gmail.com"><i class="far fa-envelope fa-lg"></i> Email: jonisyofian14@gmail.com</a>
      <a href="https://github.com/jonisy1406" target="_blank"><i class="fab fa-github fa-lg"></i> Github: jonisy1406</a>
    </div>
  </footer>

</body>

</html>